<!-- views/menu.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="img/logo.png" rel="icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <link href="css/styles.css" rel="stylesheet">
  <title>Menu | Cum 'n Eat</title>
  <link rel="icon" href="/Images/logo.png" type="image/png">
</head>
<body>
  <script>
    var menu = [];
    var tableNumbers = [1, 2, 3, 4, 5];
    var selectedTableNumber;

    if (typeof serverMenu !== 'undefined') {
      menu = serverMenu;
    }
  </script>
  <header>
    <nav>
      <a href="index.html" class="navbar-brand p-0 d-flex align-items-center">
        <!-- <img src="img/logo.png" alt="Logo" class="ml-2 mr-2" style="max-height: 60px;"> -->
        <h1 class="text-primary m-0">Cum 'n Eat</h1>
      </a>
      <div style="display: flex;">
        <div class="options-dropdown">
          <div style="height: auto;">
            <!-- <label style="margin-right: 2px;" for="category-dropdown">Select Category: </label> -->
            <select style="margin-right: 10px; background-color: white; color: black; border-color: orange; border-radius: 5px; height: 35px;" id="category-dropdown" onchange="filterMenu(this.value)">
              <option value="all">Select Category</option>
              <option value="soups">Soups</option>
              <option value="starters">Starters</option>
              <option value="breads">Breads</option>
              <option value="maincourse">Main Course</option>
              <option value="snacks">Snacks</option>
              <option value="desserts">Desserts</option>
              <option value="drinks">Drinks</option>
            </select>
          </div>
        </div>
        <input style="border-color: orange; margin-right: 10px; border-radius: 5px;" type="text" id="search-input" oninput="searchMenu()" placeholder="Search Item">
        <!-- <button style="margin-right: 10px; border-radius: 5px;" onclick="callWaiter()">Call Waiter</button> -->
        <button class="strt" style="border-radius: 5px;" onclick="reviewOrder()">Review Order</button>
      </div>
    </nav>
  </header>

  <main>
    <div style="margin-top: 20px; text-align: center; background-color: #FF6347; padding: 10px; width: 80%; margin-left: auto; margin-right: auto; border-radius: 10px;">
    <p style="color: #fff; font-size: 16px; font-weight: bold; margin: 0;">
      Ordering for a table other than your assigned table will incur a significant penalty. For more details
      <a style="text-decoration: none; color: #000000;" href="/disclaimer"><strong> Check out our Disclaimer Page.</strong></a>
    </p>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="4" style="border-color: #000; border-radius: 10px;">
            <div style="text-align: center; margin-bottom: 10px; font-size: 25px;">
              <label for="table-number-dropdown">Selected Table Number: </label>
              <select disabled style="font-size: 25px; background-color: black; color: white; border-color: orange; border-radius: 5px; -webkit-appearance: none; width: 50px; text-align: center;" id="table-number-dropdown" data-table-number="<%= tableNumbers[0] %>">
                <% tableNumbers.forEach(number => { %>
                  <option value="<%= number %>"><%= number %></option>
                <% }); %>
              </select>
            </div>
          </th>
        </tr>
        <tr>
          <th style="border-color: black;">Item Name</th>
          <th style="border-color: black;">Price</th>
          <th style="border-color: black;">Quantity</th>
          <th style="border-color: black;">Add to Order</th>
        </tr>
      </thead>
      <tbody>
        <% menu.forEach(item => { %>
          <tr data-category="<%= item.category %>">
            <td><%= item.name %></td>
            <td>INR <%= item.price.toFixed(2) %></td>
            <td><input style="border-radius: 5px;" type="number" min="1" value="1" data-item="<%= item.name %>" data-price="<%= item.price %>"></td>
            <td><button style="border-radius: 5px;" onclick="addToOrder('<%= item.name %>', '<%= item.price %>')">Add</button></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </main>

  <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Cum 'n Eat</h4>
                        <a class="btn btn-link" href="#about">About Us</a>
                        <a class="btn btn-link" href="contact.html">Contact Us</a>
                        <!-- <a class="btn btn-link" href="">Reservation</a> -->
                        <a class="btn btn-link" href="/disclaimer">Terms & Condition</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Kollam | Kottayam, Kerala</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 123456789</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>cumneat@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="contact.html"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="contact.html"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="contact.html"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="contact.html"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Open on</h4>
                        <h5 class="text-light fw-normal">Monday - Saturday</h5>
                        <p>09AM - 09PM</p>
                        <h5 class="text-light fw-normal">Sunday</h5>
                        <p>10AM - 08PM</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Navigation</h4>
                        <a class="btn btn-link" href="/menu">Menu</a>
                        <a class="btn btn-link" href="/admin">Admin Console</a>
                        <a class="btn btn-link" href="/navigation">Navigation Page</a>
                        <!-- <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
                        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Cum 'n Eat</a>, All Right Reserved. 
							<!-- Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> -->
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="#index">Home</a>
                                <!-- <a href="">Cookies</a> -->
                                <a href="/disclaimer">Help</a>
                                <!-- <a href="">FQAs</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

  <script>
    var menu = [];
    var tableNumbers = [1, 2, 3, 4, 5];
    var selectedTableNumber;

    if (typeof serverMenu !== 'undefined') {
      menu = serverMenu;
    }

    function getTableNumberFromPrompt() {
      const tableNumber = prompt('Welcome This is the Menu Page. Please enter your table number:');
      return tableNumber;
    }

    function setInitialTableNumber() {
      selectedTableNumber = getTableNumberFromPrompt();
      if (
        selectedTableNumber === null ||
        selectedTableNumber.trim() === '' ||
        !tableNumbers.includes(parseInt(selectedTableNumber))
      ) {
        window.location.href = '/menu';
      } else {
        const tableNumberDropdown = document.getElementById('table-number-dropdown');
        tableNumberDropdown.value = selectedTableNumber;

        filterMenu('all');
      }
    }

    window.addEventListener('load', setInitialTableNumber);

    function addToOrder(itemName, itemPrice) {
    const item = menu.find(item => item.name === itemName);

    const quantityInput = document.querySelector(`input[data-item="${itemName}"]`);
    const quantity = parseInt(quantityInput.value, 10);
    if (isNaN(quantity) || quantity < 1) {
      console.error('Invalid quantity');
      return;
    }

    const tableNumberDropdown = document.getElementById('table-number-dropdown');
    const selectedTableNumber = parseInt(tableNumberDropdown.value, 10);

    console.log('Data to be sent:', { itemName, itemPrice, quantity, tableNumber: selectedTableNumber });

    const formData = new FormData();
    formData.append('itemName', itemName);
    formData.append('itemPrice', itemPrice); // Include the itemPrice in the form data
    formData.append('quantity', quantity);
    formData.append('tableNumber', selectedTableNumber);

    fetch('/menu/add-to-order', {
      method: 'POST',
      body: formData,
    })
      .then(response => response.json())
      .then(data => {
        if (data.error) {
          console.error('Error adding item to order:', data.error);
        } else {
          console.log('Item added to order:', data);
        }
      })
      .catch(error => {
        console.error('Error adding item to order:', error);
      });
  }

    function toggleOptions() {
      const optionsDropdown = document.querySelector('.options-dropdown');
      optionsDropdown.classList.toggle('active');
    }

    function filterMenu(category) {
      const tableRows = document.querySelectorAll('tbody tr');
      
      tableRows.forEach(row => {
        const itemCategory = row.getAttribute('data-category');
        if (category === 'all' || itemCategory === category) {
          row.style.display = '';
        } else {
          row.style.display = 'none';
        }
      });
    }

    function searchMenu() {
      const searchInput = document.getElementById('search-input');
      const searchTerm = searchInput.value.toLowerCase();

      const tableRows = document.querySelectorAll('tbody tr');

      tableRows.forEach(row => {
        const itemName = row.querySelector('td:first-child').textContent.toLowerCase();
        if (itemName.includes(searchTerm)) {
          row.style.display = '';
        } else {
          row.style.display = 'none';
        }
      });
    }

    function callWaiter() {
        console.log('Calling waiter...');
      }

    function reviewOrder() {
      window.location.href = '/menu/get-orders';
    }
  </script>
</body>
</html>
