<!-- views/table.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cum 'n Eat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="icon" href="/Images/logo.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/unified.css" id="themeStylesheet">
    <% var currentMode='light' ; %>
        <script>
            function toggleTheme() {
                const themeStylesheet = document.getElementById('themeStylesheet');
                if (themeStylesheet.getAttribute('href') === '/css/unified.css') {
                    themeStylesheet.setAttribute('href', '/css/unifieddark.css');
                    localStorage.setItem('theme', 'dark');
                } else {
                    themeStylesheet.setAttribute('href', '/css/unified.css');
                    localStorage.setItem('theme', 'light');
                }
            }
            document.addEventListener('DOMContentLoaded', function () {
                const savedTheme = localStorage.getItem('theme');
                if (savedTheme && savedTheme === 'dark') {
                    toggleTheme();
                }
            });
        </script>
</head>

<body>
    <div class="container-xxl bg-black p-0">        
        <!-- Navbar & Hero Start -->
        <header>
            <nav style="border-bottom: 1px; border-color: white;">
                <a href="/" class="navbar-brand p-0 d-flex align-items-center">
                    <!-- <img src="img/logo.png" alt="Logo" class="ml-2 mr-2" style="max-height: 60px;"> -->
                    <h1 class="text-primary m-0">Cum 'n Eat</h1>
                </a>
                <button class="strt" style="border-radius: 5px;" onclick="menu()">Menu</button>
            </nav>
        </header>
        <!-- Navbar & Hero End -->

        <main>
            <div class="container">
                <h1 style="text-align: center;">Table Availability and Payment Status</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="blah">Table Number</th>
                            <th class="blah">Availability</th>
                            <th class="blah" class="blah">Payment Status</th>
                            <th class="blah">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% tables.forEach(table => { %>
                            <tr>
                                <td style="padding-top: 10px;"><%= table.tableNumber %></td>
                                <td><%= table.isAvailable ? 'Available' : 'Not Available' %></td>
                                <td><%= table.paymentStatus ? 'Paid' : 'Unpaid' %></td>
                                <td style="width: 230px; height: 50px; text-align: center;">
                                    <form method="POST" action="/tables/<%= table._id %>?_method=PUT" class="availability-form" data-table-id="<%= table._id %>">
                                        <button style="margin-top: 0%; align-self: center;" type="submit" class="btn btn-sm <%= table.isAvailable ? 'btn-danger' : 'btn-success' %>">
                                            <%= table.isAvailable ? 'Make Unavailable' : 'Make Available' %>
                                        </button>
                                    </form>
                                    <button type="button" class="btn btn-sm btn-primary" onclick="changePaymentStatus('<%= table._id %>')">
                                        Change Payment Status
                                    </button>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </main>

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Cum 'n Eat</h4>
                        <a class="btn btn-link" href="/">Home</a>
                        <a class="btn btn-link" href="/#about">About Us</a>
                        <a class="btn btn-link" href="/contact">Contact Us</a>
                        <a class="btn btn-link" href="/disclaimer">Terms & Condition</a>
                        <a class="btn btn-link" onclick="toggleTheme()">Toggle Theme</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Kollam | Kottayam, Kerala</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 123456789</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>cumneat@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Open on</h4>
                        <h5 class="text-light fw-normal">Monday - Saturday</h5>
                        <p>09AM - 09PM</p>
                        <h5 class="text-light fw-normal">Sunday</h5>
                        <p>10AM - 08PM</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Navigation</h4>
                        <a class="btn btn-link" href="/tableavail">Table Availability</a>
                        <a class="btn btn-link" href="/menu">Menu</a>
                        <a class="btn btn-link" href="/navigation">Navigation Page</a>
                        <a class="btn btn-link" href="/admin">Admin Console</a>
                        <!-- <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
                        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="/">Cum 'n Eat</a>, All Right Reserved.
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="/#index">Home</a>
                                <a href="/disclaimer">Help</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script>
        async function changePaymentStatus(tableId) {
            try {
                const response = await fetch(`/tables/${tableId}/payment`, {
                    method: 'PUT',
                });
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Failed to update payment status:', response.statusText);
                }
            } catch (error) {
                console.error('Error updating payment status:', error);
            }
        }

        function menu() {
            window.location.href = "/menu";
        }
        
        document.addEventListener('DOMContentLoaded', function () {
            const formElements = document.querySelectorAll('.availability-form');

            formElements.forEach(form => {
                form.addEventListener('submit', async function (e) {
                    e.preventDefault();
                    const tableId = this.dataset.tableId;

                    try {
                        const response = await fetch(`/tables/${tableId}`, {
                            method: 'PUT',
                        });

                        if (response.ok) {
                            window.location.reload();
                        } else {
                            console.error('Failed to update table availability:', response.statusText);
                        }
                    } catch (error) {
                        console.error('Error updating table availability:', error);
                    }
                });
            });
        });

        function updateTableView(htmlData) {
            const tableAvailabilityDiv = document.getElementById('tableAvailability');
            tableAvailabilityDiv.innerHTML = htmlData;
        }

        fetchTableData();

        document.addEventListener('DOMContentLoaded', function() {
            const scrollLinks = document.querySelectorAll('a[href^="#"]');

            scrollLinks.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();

                const targetId = this.getAttribute('href').substring(1);

                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                targetElement.scrollIntoView({ behavior: 'smooth' });
                }
            });
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>